#GalleryImg img{
    background-color: green;
    transition: transform .2s; /* Animation */

    margin: 0 auto;
}
#GalleryImg img:hover{
    transform: scale(1.1)
}

#headSection{
    background-image: url('../../assets/Images/bg0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    opacity: 80%;
    height: 500px;
}

#headSection h1 {
    margin-top: 200px;
    color: #fff;
    font-weight: 700;
}
#headSection h2 {
    color: #fff;
    font-weight: 600;
}